{% extends 'WebSiteBlog/base.html' %}

{% block content %}
<h1 style="color:rgb(176, 131, 77);margin:40px">Posts List</h1>
<h6 style="color:rgb(87, 65, 40)  ; text-align: center;">You searched for: {{searched}} .</h6>

{%if posts%}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="color:rgb(176, 131, 77)">title</th>
                <th scoope="col" style="color:rgb(176, 131, 77)" >author name</th>
                <th scope="col" style="color:rgb(176, 131, 77)">publish date</th>
                <th scope="col" style="color:rgb(176, 131, 77)">is published</th>
                <th scope="col" style="color:rgb(176, 131, 77)">Edit</th>
            </tr>
            </thead>
            {% for post in posts%}
            <tbody>
            <tr>
                <th scope="row" style="color:rgb(87, 65, 40)  ;"><a href="{% url 'WebSiteblog:post_detail' post.id %}"> {{ post.post_title }} </a></th>
                <td style="color:rgb(87, 65, 40)  ;">{{ post.author_name }}</td>
                <td style="color:rgb(87, 65, 40)  ;">{{ post.publish_date }}</td>
                <td style="color:rgb(87, 65, 40)  ;">{{ post.is_published }}</td>
            </tr>

            </tbody>{%endfor%}
        </table>
    </div>
{%else%}
    <h5 style="color:rgb(87, 65, 40);text-align: center ;"> No Result/s. </h5>
{%endif%}
{% endblock %}