{% extends 'Blog/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    
    {% load static %} 

    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'img\img2.jpg' %}" alt="" width="15%" height="15%">
        <h1 class="display-5 fw-bold">Nourah Alqahtani Blogs</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">General computer knowledge
            Such as knowing its components, uses, benefits and drawbacks, and more about the computer in general</p>
        </div>
      </div>





{% endblock %}