{% extends 'blog/base.html' %}

{% block title %} read {% endblock %}

{% block content %}
<h3> blog posts:</h3>
<div class="container">
    
    <table class="table">
        <thead>
        <tr>
            <th scope="col">title</th>
            <th scope="col">publish date</th>
            <th scope="col">is published</th>
        </tr>
        </thead>
        <tbody>
            {% for i in ALL_BLOGS %}
            <tr>
                <th scope="row">{{ i.Title }}</th>
                <td>{{ i.publish_date }}</td>
                <td>{{ i.is_published}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>





    
   
</div>

{% endblock %}