{% extends 'posts/base.html' %}
{% block title %} Update {{post.title}} {% endblock %}
{% block content %}
<h1 class="my-3 border-bottom">Update Post</h1>
<form class="row align-items-center" action="" method="POST">
    {% csrf_token %}
    <div class="input-group mb-2">
        <div class="input-group-text w-25">Title</div>
        <input type="text" name="title" class="form-control" placeholder="Post Title" value="{{post.title}}">
    </div>
    <div class="input-group mb-2">
        <div class="input-group-text w-25">Content</div>
        <textarea type="text" name="content" rows="10" class="form-control">{{post.content}}</textarea>
    </div>
    <div class="input-group mb-2">
        <div class="input-group-text w-25">Date</div>
        <input type="datetime-local" name="publish_date" class="form-control" value="{{post.publish_date}}">
    </div>
    <div class="input-group mb-2">
        <div class="input-group-text w-25">Publish Now?</div>
        <label class="mt-2 ms-3 me-3" for="is_published">NO</label>
        <div class="form-check form-switch mt-2">
            <input class="form-check-input" type="checkbox" role="switch" id="is_published" name="is_published" {% if post.is_published %} checked {% endif %}>
          </div> 
          <label class="mt-2 ms-1" for="is_published">YES</label>
        </div>
    <div class="input-group mb-2 justify-content-center">
        <input type="submit" value="Update Post" class="btn btn-secondary mt-2">
    </div>
</form>
{% endblock %}