{% extends 'blogApp/blog.html' %}

{%block add%}

<div class="pt-4 container">
    <form action="" method="POST">
        {% csrf_token %}
    <div class="input-group mb-3">
        <span class="input-group-text">Title</span>
        <input type="text" class="form-control" name="title" value="{{blogs.title}}">
      </div>


      <div class="input-group pt-4">
        <span class="input-group-text">Content</span>
        <textarea class="form-control" aria-label="With textarea" name="content">{{blogs.content}}</textarea>
      </div>

      <div class="pt-2">
      <select name="is_published" class="form-select" aria-label="Default select example">
        <option selected >is it published ? </option>
        <option value="True">yes</option>
        <option value="False">no</option>
      </select> 
      </div>
      

      <div class="pt-2">
        <label>Choose Date:</label>
        <input type="date" name="publish_date" value="{{blogs.publish_date}}"/>
      </div>



      <div class="pt-2">
      <input type="submit" value="update"/>

    
    </div>



    </form>
</div>
{%endblock%}

